@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --main-theme-color: lightgoldenrodyellow;
    --main-theme-color-hovered: rgb(238, 238, 182);
    --button-color: lightgray;
    --darker-tone: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 5em 1fr;
}

header {
    background-color: var(--main-theme-color);
    font-size: 1em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    height: 90vw;
    width: 90vw;
    border: solid 1px var(--darker-tone);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-board>div {
    background-color: var(--main-theme-color);
    border: solid 1px var(--darker-tone);
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-board>div:hover {
    background-color: var(--main-theme-color-hovered);
    cursor: pointer;
}

.winner-window, .player-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 50%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-container, .player-container {
    background-color: var(--main-theme-color);
    font-size: 1.5em;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

:focus {
    outline: none;
}

form input[type="text"] {
    font-family: inherit;
    font-size: 0.9em;
    padding: 0 5px;
    height: 40px;
    border: solid 1px var(--button-color);
    border-radius: 10px;
}

form input[type="text"]:focus {
    border: solid 1px var(--darker-tone);
}

button {
    background-color: var(--button-color);
    font-family: inherit;
    font-size: inherit;   
    padding: 10px 15px;
    height: 55px;
    border-radius: 10px;
    border: none;
}

button:hover {
    background-color: var(--darker-tone);
    cursor: pointer;
}

/* Tablet & Desktop */
@media screen and (min-width: 600px) {
    .game-board {
        height: 500px;
        width: 500px;
    }
    .game-board>div {
        font-size: 5em;
    }
}

/* JS */
.invisible {
    display: none;
}